name: Test

on:
  push:
    branches:
      - main
    paths:
      - "nakdimon-onnx/**"
      - "test/**"
      - "assets/**"
      - ".github/workflows/test.yml"
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5

      - name: Run tests
        run: |
          wget https://github.com/thewh1teagle/nakdimon-ort/releases/download/v0.1.0/nakdimon.onnx
          uv run pytest -s .
